import os

class ToDoList:
    def __init__(self):
        self.tasks = []

    def show_tasks(self):
        if not self.tasks:
            print("Aucune tâche en cours.")
        else:
            print("Liste des tâches en cours :")
            for index, task in enumerate(self.tasks, start=1):
                print(f"{index}. {task}")

    def add_task(self, task):
        self.tasks.append(task)
        print(f"Tâche ajoutée : {task}")

    def update_task(self, index, new_task):
        if 1 <= index <= len(self.tasks):
            self.tasks[index - 1] = new_task
            print(f"Tâche mise à jour : {new_task}")
        else:
            print("Index de tâche invalide.")

    def delete_task(self, index):
        if 1 <= index <= len(self.tasks):
            deleted_task = self.tasks.pop(index - 1)
            print(f"Tâche supprimée : {deleted_task}")
        else:
            print("Index de tâche invalide.")

def main():
    to_do_list = ToDoList()

    while True:
        print("\n1. Afficher les tâches")
        print("2. Ajouter une tâche")
        print("3. Mettre à jour une tâche")
        print("4. Supprimer une tâche")
        print("5. Quitter")

        choice = input("Choisissez une option (1-5) : ")

        if choice == '1':
            to_do_list.show_tasks()
        elif choice == '2':
            task = input("Entrez la nouvelle tâche : ")
            to_do_list.add_task(task)
        elif choice == '3':
            index = int(input("Entrez l'index de la tâche à mettre à jour : "))
            new_task = input("Entrez la nouvelle tâche : ")
            to_do_list.update_task(index, new_task)
        elif choice == '4':
            index = int(input("Entrez l'index de la tâche à supprimer : "))
            to_do_list.delete_task(index)
        elif choice == '5':
            print("Au revoir!")
            break
        else:
            print("Option invalide. Veuillez choisir une option valide.")

if __name__ == "__main__":
    main()
